
.navbar{
    background-color: #2C3E50;
}

.navbar a, .navbar-toggler-icon{
    color: white;
}

.navbar-toggler{
    background-color: white;
}

/******* AVATAR ********/
.avatar{
    background-color: #1abc9c;
}

.avatar h1{
    margin: 10px 0 10px 0;

}

.box-avatar{
    height: 130px;
    width: 130px;
    padding-top: 10px;
}

.avatar .lista{
    font-size: 13px;
    color: white;
    padding-bottom: 30px;
}

.star{
    width: 12rem;
}

.fa-star{
    color: white;
}

.line{
    height: 3px;
    width: 60px;
    border-radius: 5px;
    background-color: white;
    top: 11.5px;
}

.after{
    left: 7px;
}

.before{
    right: 7px;
}


/* PORTFOLIO */
.col-12{
    margin: 10px 0;
}

.black-star{
    color: #2C3E50;
}

.line-black{
    height: 3px;
    width: 60px;
    border-radius: 5px;
    background-color: #2C3E50;
    top: 11.5px;
}

/* location e footer */
footer section{
    background-color: #3A546D;
}

.social{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 4px;
}

.text-white a{
    color: #1abc9c;
}

.text-white{
    margin-bottom: 30px;
}


.footer-scuro{
    background-color: #2C3E50;
}




